
@{
    ViewBag.Title = "Export";
}


<form class="form-inline" style="margin-top: 50px;">
    <div class="form-group">
        <input type="text" class="form-control" id="record" placeholder="Number of records">
    </div>
    <button type="submit" class="btn btn-primary">Export</button>
</form>

